body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.top-banner {
    background-image: url(/images/donation7.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}
.banner-decoration{
    text-align: center;
    color: white;
    padding: 300px;
}
#top-banner-heading{
    font-size: 60px;
}
#banner-prgph{
    padding: 40px;
}
.donation-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color: tomato;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
/**2nd Section**/
.section-second {
    text-align: center;
    width: 100%;
    height: 550px;
}
#section-second-heading{
}
.section-second h1{
    font-size: 40px;
    margin-top: 100px;
}
.section-second p{
    color: gray;
}
.section-second-amount{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;

}
.section-second-amount div{
    width: 150px;
    height: 150px;
}
h2{
    margin-top: 50px;
}
#bdt-200{
    border: 3px solid tomato;
    color: tomato;
    background-color: #ffcccc;
}

h4{
    text-align: center;
    color: gray;
    display:inline-flex;
    border-bottom: 1px solid gray;
    padding: 10px;
    padding-left: 300px;
    padding-right: 300px;
}
/**3rd Section**/

.donate-plan-section{
    box-sizing:content-box;
    text-align: center;
}
.donate-plan-section h1{
    font-size: 50px;
}
.donate-plan-section h3{
    color: black;
    font-size: 20px;
}
.donate-plan-section p{
    color: gray;
}
.donate-plan-content{
    display: flex;
    margin: 100px;
}
.child-1{
    background-color: #c6f0f0;
    margin: 10px;
}
.child-2{
    background-color: #faded8;
    margin: 10px;

}
.child-3{
    background-color: #fcf3d8;
    margin: 10px;

}